## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [8]:
# 1) Seu código aqui


df_mat['Percentual_acerto'] = (df_mat['Qt_acertos'] / 24) * 100



df_por['Percentual_acerto'] = (df_por['Qt_acertos'] / 18) * 100


df_geo['Percentual_acerto'] = (df_geo['Qt_acertos'] / 8) * 100


df_ing['Percentual_acerto'] = (df_ing['Qt_acertos'] / 8) * 100


df_his['Percentual_acerto'] = (df_his['Qt_acertos'] / 8) * 100


df_fis['Percentual_acerto'] = (df_fis['Qt_acertos'] / 12) * 100


df_qui['Percentual_acerto'] = (df_qui['Qt_acertos'] / 12) * 100

In [11]:
# 2) Seu código aqui

df_total_acertos = pd.DataFrame()

df_total_acertos['Total_acertos'] = (
    df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos'] +
    df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']
)


df_total_acertos

    Total_acertos
0              35
1              48
2              50
3              32
4              30
..            ...
95             34
96             27
97             40
98             40
99             42

[100 rows x 1 columns]

In [12]:
# 3) Seu código aqui

total_questoes = 24 + 18 + 8 + 8 + 8 + 12 + 12  

df_total_acertos['Percentual_geral'] = (df_total_acertos['Total_acertos'] / total_questoes) * 100

df_total_acertos

    Total_acertos  Percentual_geral
0              35         38.888889
1              48         53.333333
2              50         55.555556
3              32         35.555556
4              30         33.333333
..            ...               ...
95             34         37.777778
96             27         30.000000
97             40         44.444444
98             40         44.444444
99             42         46.666667

[100 rows x 2 columns]

In [13]:
# 4) Seu código aqui

nota_corte = 45

alunos_aprovados = df_total_acertos[df_total_acertos['Percentual_geral'] > nota_corte]

num_alunos_aprovados = len(alunos_aprovados)

print("Número de alunos com nota maior que 45 na segunda fase:", num_alunos_aprovados)

Número de alunos com nota maior que 45 na segunda fase: 47

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [21]:
# seu código aqui

df_total_acertos['Matemática'] = df_mat['Qt_acertos']
df_total_acertos['Português'] = df_por['Qt_acertos']
df_total_acertos['Geografia'] = df_geo['Qt_acertos']
df_total_acertos['Inglês'] = df_ing['Qt_acertos']
df_total_acertos['História'] = df_his['Qt_acertos']
df_total_acertos['Física'] = df_fis['Qt_acertos']
df_total_acertos['Química'] = df_qui['Qt_acertos']

História     3.434783
Geografia    3.217391
dtype: float64

In [ ]:
# 1

alunos_desqualificados = df_total_acertos[
    (df_total_acertos['Matemática'] == 0) |
    (df_total_acertos['Física'] == 0) |
    (df_total_acertos['Química'] == 0)
]

In [ ]:
# 2

qtd_fora = len(alunos_desqualificados) 

qtd_fora

In [ ]:
# 3

media_hist_geo = alunos_desqualificados[['História', 'Geografia']].mean() 

media_hist_geo

In [22]:
# 4

alunos_segunda_fase = df_total_acertos[
    ~(df_total_acertos.index.isin(alunos_desqualificados.index))
]

alunos_segunda_fase

,Total_acertos,Percentual_geral,Matemática,Português,Geografia,Inglês,História,Física,Química
0,35,38.888889,6,7,7,3,1,8,3
1,48,53.333333,19,10,0,0,0,11,8
2,50,55.555556,14,16,0,5,7,4,4
4,30,33.333333,7,2,2,7,0,9,3
5,50,55.555556,20,2,5,3,2,9,9
...,...,...,...,...,...,...,...,...,...
93,56,62.222222,12,16,5,5,6,6,6
95,34,37.777778,6,4,7,1,4,9,3
96,27,30.000000,8,1,4,6,1,4,3
97,40,44.444444,23,5,0,2,4,1,5
99,42,46.666667,11,15,0,1,6,7,2

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [23]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [48]:
# 1) Sua solução aqui

df = pd.read_csv('vacina.csv',sep=';')

numero_de_vacinas = len(df)

numero_de_vacinas

381196

In [51]:
# 2)

numero_de_pacientes_vacinados = df['paciente_id'].nunique()

print(numero_de_pacientes_vacinados)

312524

In [57]:
# 3)

O número de estabelecimentos que aplicaram vacinas no Acre é: 210

In [ ]:
# 3) solução alternativa

# Filtrando apenas os registros da primeira dose
primeira_dose = df[df['vacina_descricao_dose'] == 'Primeira Dose']

# Obtendo os valores únicos de paciente_id para a primeira dose
pacientes_primeira_dose = primeira_dose['paciente_id'].unique()

# Contando o número de pacientes únicos que tomaram a primeira dose
numero_de_pacientes_primeira_dose = len(pacientes_primeira_dose)

print("O número de pacientes únicos que tomaram a primeira dose é:", numero_de_pacientes_primeira_dose)

In [56]:
# 4)


pacientes_menos_de_18 = df[df['paciente_idade'] < 18]

numero_de_pacientes_menos_de_18 = len(pacientes_menos_de_18['paciente_id'].unique())

print("O número de pacientes com menos de 18 anos vacinados é:", numero_de_pacientes_menos_de_18)

O número de pacientes com menos de 18 anos vacinados é: 65600

In [58]:
# 5)

numero_de_estabelecimentos = df['estalecimento_noFantasia'].nunique()

print("O número de estabelecimentos que aplicaram vacinas no Acre é:", numero_de_estabelecimentos)

O número de estabelecimentos que aplicaram vacinas no Acre é: 210

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [62]:
# 1)

vacinas_menores_18 = df[df['paciente_idade'] < 18].copy()

In [64]:
# 2)


lista_colunas = vacinas_menores_18.columns.tolist()

lista_colunas

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [65]:
# 3)

contagem_categoria_vacina = vacinas_menores_18['vacina_categoria_nome'].value_counts()

print("Contagem de cada categoria de vacina:")
print(contagem_categoria_vacina)

Contagem de cada categoria de vacina:
vacina_categoria_nome
Faixa Etária                                      45042
Povos Indígenas                                    4104
Outros                                             3697
Povos e Comunidades Tradicionais                    682
Trabalhadores de Saúde                              238
Comorbidades                                         56
População Privada de Liberdade                       51
Gestantes                                            39
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [66]:
# 4)

colunas_estabelecimento = ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estalecimento_noFantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']

In [68]:
# 5)

dados_estabelecimento = vacinas_menores_18[colunas_estabelecimento]

dados_estabelecimento_unicos = dados_estabelecimento.drop_duplicates()

lista_estabelecimentos = dados_estabelecimento_unicos.to_dict(orient='records')

print(lista_estabelecimentos)